<!DOCTYPE html>
<html>
    <head>
        <title>Calendar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/popper.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/custom.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="row">
        <div class="col-md-12">
        {% block body %}
        
        {% endblock %}
        </div>
        </div>

        <div class="row">
        <div class="col-md-6">
        {% block left %}
        
        {% endblock %}
        </div>

         <div class="col-md-6">
        {% block right %}
        
        {% endblock %}
        </div>
        </div>

    </body>
</html>
